
$white: #fff;

html {
	font-size: 10px;
}
body {
	font-size: 14px;
}
h1 {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none !important;
	-webkit-transition: 0.3s all ease-out 0s;
	-o-transition: 0.3s all ease-out 0s;
	transition: 0.3s all ease-out 0s;
}
header {
	position: relative;
}

.caption-content {
	transform: translateY(50%);
	text-align: center;
}

/* Preloader*/
#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1px;
  height: 100px;
  left: 50%;
  margin-left: -64px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
       -moz-animation: charge 5s linear infinite;
            animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
  background-color: #2E2E2E;
  border-radius: 0 1px 1px 0;
  content: "";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 7px;
  width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}




/* Header */
#navigation {
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem 0;

  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  h1 {
		font-size: 2rem;
	  font-weight: 700;
	  font-family: 'Open Sans', sans-serif;
	  margin: 0;
	  text-transform: uppercase;
	  a {
	  	color: #9d9d9d;
	  }
  }
  nav>ul>li {
  	a {
  		color: $white;
  		text-transform: uppercase;
  		font-size: 1.5rem;
  		font-weight: 500;
  		font-family: 'Open Sans', sans-serif;
  	}
  }
}

.navbar-toggle {
	background: transparent !important;
	border-color: $white !important;
	&:hover {
		background: transparent !important;
	}
}


/* Welcome */
section#Welcome {
	background: #009EE3;
	color: $white;
	padding: 7rem 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	h3 {
		margin: 0 0 3.5rem;
    text-transform: uppercase;
	}
	p {
		font-size: 1.6rem;
		line-height: 2.5rem;
	}

	/* Owl Carousel 1st arrows style */
	.owl-nav {
		border: 2px solid $white;
    display: inline-block;
    float: right;
    padding: 0.1rem 0.8rem 0.5rem;
    i {
	    font-size: 1.33333333em;
	    line-height: .75em;
	    vertical-align: -15%;
    }
	}

	.owl-prev, .owl-next {
		background: none !important;
		font-size: 1.6rem !important;
		padding: 0 5px !important;
		margin: 0 !important;
		line-height: 2.4rem;
	}

	.welcome {
		h3 {
			margin: 0 0 6.5rem;
		}
		img {
			border-radius: 50%;
			max-width: 10rem;
			margin-right: 3.5rem;
			border: 3px solid $white;
		}
		p {
			overflow: hidden;
			font-size: 1.3rem;
			line-height: 2.5rem;
			margin-bottom: 7rem;
		}
		a {
			border: 2px solid $white;
			display: inline-block;
			padding: 1.2rem 3.5rem;
		}
	}
}

/* Services */
section#Service {
	padding: 7rem 0;
	.service-title {
		margin-bottom: 5rem;
		text-align: center;
		h2 {
			font-size: 3.6rem;
			margin: 0 0 3rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			color: #252525;
			position: relative;
			&:after {
				border-bottom: 1px solid #009ee3;
		    content: "";
		    display: block;
		    left: 45%;
		    bottom: 0;
		    position: absolute;
		    width: 115px;
			}
		}
		p {
			font-size: 1.6rem;
			color: #818181;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
		}
	}
	.service-item {
		text-align: center;
		&:hover {
			.service-icon {
				border: 3px solid #009EE3;
				i {
					color: #009EE3;
				}
			}
			h3 {
				margin-top: 4rem;
				transition: all 0.3s ease 0s
			}
		}
		.service-icon {
			border: 3px solid transparent;
	    display: inline-block;
	    font-size: 1.6rem;
	    height: 85px;
	    width: 85px;
	    line-height: 101px;
	    transform: rotate(45deg);
      transition: all 0.3s ease 0s;
      i {
      	transform: rotate(-45deg);
      	color: #818181;
      }
		}
		h3 {
			font-size: 2rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
   		color: #252525;
   		margin-top: 2rem;
   		margin-bottom: 1rem;

		}
		p {
			font-size: 1.6rem;
			color: #818181;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			line-height: 2.5rem;
		}
	}
}

/* Featured projects */
section#Featured-projects {
	padding-top: 7rem;
	.featured-projects-title {
		text-align: center;
		margin-bottom: 5rem;
		h2 {
			font-size: 3.6rem;
			margin: 0 0 3rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			color: #252525;
			position: relative;
			&:after {
				border-bottom: 1px solid #009ee3;
		    content: "";
		    display: block;
		    left: 45%;
		    bottom: 0;
		    position: absolute;
		    width: 115px;
			}
		}
		p {
			font-size: 1.6rem;
			color: #818181;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
		}
	}
	.project-wrapper {
		margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
		
		figcaption.mask {
    background-color: rgba(54, 55, 50, 0.79);
    bottom: -126px;
    color: #fff;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    
    -webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
		}

		.portfolio-item {
			display: inline-block;
			width: 32%;
			cursor: pointer;
			margin: 0 1% 1% 0;
			position: relative;
			overflow: hidden;
			.external {
				position: absolute;
				right: 0;
				top: -4.7rem;
				-webkit-transition: all 0.4s ease 0s;
	       -moz-transition: all 0.4s ease 0s;
	        -ms-transition: all 0.4s ease 0s;
	         -o-transition: all 0.4s ease 0s;
	            transition: all 0.4s ease 0s;
				li {
					display: inline-block;
					a {
						background-color: rgba(255, 255, 255, 0.9);
				    color: #818181;
				    display: block;
				    padding: 10px 18px 13px;
	    			font-size: 15px;
				    -webkit-transition: all 0.5s ease 0s;
				       -moz-transition: all 0.5s ease 0s;
				        -ms-transition: all 0.5s ease 0s;
				         -o-transition: all 0.5s ease 0s;
				            transition: all 0.5s ease 0s;
					  &:hover {
					   	background-color: #009EE3;
		  				color: #fff;
					  }
					}
				}
			}
			&:hover {
				figcaption.mask {
					bottom: 0;
				}
				.external {
					top: 0;
				}
			}
		}
		figcaption.mask h3 {
	    margin: 0;
	    color: #fff;
		}
	}
}

	/* fancybox inner content*/
	.fancybox-title.fancybox-title-inside-wrap {
	    padding: 15px;
	}

	.fancybox-title h3 {
	    margin: 0 0 15px;
	}

	.fancybox-title p {
	    color: #818181;
	    font-size: 16px;
	    line-height: 22px;
	}

	.fancybox-title-inside-wrap {
	    padding-top: 0;
	}

	.fancybox-item.fancybox-close {
    background: url("../../images/icons/close.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    right: 0;
    top: 0;
    width: 50px;
}

.fancybox-next span {
    background: url("../../images/icons/right.png") no-repeat scroll center center #009ee3;
    height: 50px;
    width: 50px;
    right: 0;
}

.fancybox-prev span {
    background: url("../../images/icons/left.png") no-repeat scroll center center #009ee3;
    height: 50px;
    width: 50px;
    left: 0;
}

/* What People Say */
section#Review {
	background: url(../../images/parallax/review.jpg);
	background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
	color: $white;
	text-align: center;
	margin-top: 7rem;
	.overlay {
		background-color: rgba(15,155,224, 0.78);
    padding: 70px 0 40px;
		h2 {
			font-size: 3.6rem;
			margin: 0 0 5rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			position: relative;
			&:after {
				border-bottom: 1px solid $white;
		    content: "";
		    display: block;
		    left: 45%;
		    bottom: 0;
		    position: absolute;
		    width: 115px;
			}
		}
		.clients {
			width: 64%;
			margin: 0 auto;
			padding-bottom: 5rem;
			img {
				border-radius: 50%;
				max-width: 10rem;
				margin-right: 3.5rem;
				border: 3px solid $white;
				margin: 0 auto;
			}
			.quote {
				position: relative;
				&:before {
					content: '';
		    	background: url(../../images/icons/quotes.png);
		    	background-repeat: no-repeat;
			    bottom: 127px;
			    height: 33px;
			    top: 35px;
			    left: -35px;
			    position: absolute;
			    width: 45px;
		    }
		    &:after {
					content: '';
		    	background: url(../../images/icons/quotes.png);
		    	background-position: -58px 0;
			    background-repeat: no-repeat;
			    bottom: -60px;
			    height: 33px;
			    position: absolute;
			    right: 0;
			    width: 45px;
		    }

				span {
					display: inline-block;
					font-weight: 700;
					margin: 40px 0 30px;
					text-transform: uppercase;
			    font-family: 'Open Sans', sans-serif;
			    font-size: 1.6rem;
				}
				p {
					font-family: 'Open Sans', sans-serif;
			    font-size: 1.6rem;
			    font-weight: 400;
			    line-height: 2.5rem;
		  	}
			}
		}
	}

	/* Owl Carousel 2nd arrows style */
	.owl-nav {
		border: 2px solid $white;
    display: inline-block;
    padding: 0.1rem 0.8rem 0.5rem;
    i {
	    font-size: 1.33333333em;
	    line-height: .75em;
	    vertical-align: -15%;
    }
	}

	.owl-prev, .owl-next {
		background: none !important;
		font-size: 1.6rem !important;
		padding: 0 5px !important;
		margin: 0 !important;
		line-height: 2.4rem;
	}
}

/* Price */
section#price {
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 7rem;
	.price-title {
		margin-bottom: 5rem;
		h2 {
			font-size: 3.6rem;
			margin: 0 0 3rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			color: #252525;
			position: relative;
			&:after {
				border-bottom: 1px solid #009ee3;
		    content: "";
		    display: block;
		    left: 45%;
		    bottom: 0;
		    position: absolute;
		    width: 115px;
			}
		}
		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.6rem;
			color: #818181;
			font-weight: 500;
		}
	}
	.price-block {
		border: 1px solid #e3e3e3;
		span {
			display: block;
			font-size: 2.4rem;
			color: #252525;
			padding: 3rem 0;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
		}
		.price-list {
			background: #F8F8F8;
			padding: 2rem 0;
			span {
				display: inline-block;
				padding: 0;
				color: #727272;
				&:first-child {
					font-size: 3.2rem;
    			line-height: 3.2rem;
				}
				&:nth-child(2) {
					font-size: 6.5rem;
					margin-bottom: 2.5rem;
					line-height: 6.5rem;
				}
				&:last-child {
					font-size: 1.6rem;
					text-transform: lowercase;
				}
			}
		}
		ul {
			margin-bottom: 0;
			li {
				border-top: 1px solid #e3e3e3;
				padding: 2.5rem 0;
				font-family: 'Open Sans', sans-serif;
		    font-size: 1.6rem;
		    font-weight: 400;
		    color: #818181;
		    line-height: 2.4rem;
		    -webkit-transition: all 0.7s;
	       -moz-transition: all 0.7s;
	        -ms-transition: all 0.7s;
	         -o-transition: all 0.7s;
	            transition: all 0.7s;
				&:last-child {
					text-transform: uppercase;
					a {
						color: #019EE3;
					}
					&:hover {
						background: #019EE3;
						a {
							color: $white;
						}
					}
				}
			}
		}
	}
}

.current {
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.19);
	box-shadow: 0 4px 5px rgba(0,0,0,0.19);
	.price-list {
		background: #019EE3 !important;
		span {
			color: $white !important;
		}
	}
	ul {
		li {
			&:last-child {
				background: #019EE3;
				a {
					color: $white !important;
				}
			}
		}
	}
}

/* Follow Us */
section#social {
	background: url(../../images/slider/banner.jpg);
	background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
	text-align: center;
	color: $white;
	h2 {
		font-size: 3.6rem;
		margin: 0 0 3rem;
		padding-bottom: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		position: relative;
		&:after {
			border-bottom: 1px solid $white;
	    content: "";
	    display: block;
	    left: 45%;
	    bottom: 0;
	    position: absolute;
	    width: 115px;
		}
	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
	}
	ul {
		margin-top: 5rem;
		li {
			display: inline-block;
			&:nth-child(2) {
				margin: 0 7.5rem;
			}
			a {
				color: $white;
				display: block;
				border-radius: 50%;
				border: 2px solid $white;
				height: 90px;
		    line-height: 96px;
		    width: 90px;
				font-size: 1.6rem;
		    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
		    &:hover {
		    	color: #008ECC;
    			border: 2px solid #008ECC;
		    }
			}
		}
	}
	.overlay {
		background: url(../../images/slide_bg.png) repeat scroll 0 0 transparent;
		padding: 100px 0 120px;
	}
}

/* Contact */
section#contact {
	margin-top: 7rem;
	.contact-title-wrapper {
		text-align: center;
		margin-bottom: 5rem;
		h2 {
			font-size: 3.6rem;
			margin: 0 0 3rem;
			padding-bottom: 3rem;
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			color: #252525;
			position: relative;
			&:after {
				border-bottom: 1px solid #009ee3;
		    content: "";
		    display: block;
		    left: 45%;
		    bottom: 0;
		    position: absolute;
		    width: 115px;
			}
		}
		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.6rem;
			color: #818181;
			font-weight: 500;
		}
	}
}

/*contact-form*/
.input-field {
	margin-bottom: 1rem;
	#textarea-content {
		width: 100%;
		height: 16.5rem;
	}
}
.form-control {
	border: 1px solid #ececec;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
	color: #818181;
	font-weight: 400;
  height: 50px;
  padding: 0.6rem 1.2rem;
  box-shadow: none;
  border-radius: 0;
}
/*send submit button*/
#submit {
	font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}
#submit:hover {
  color: #fff !important;
}

#submit:before {
  background-color: #0A85BB;
}

/*contact-info*/
.contact-info {
	h3 {
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		border-bottom: 1px solid #008ecc;
		padding-bottom: 1.5rem;
	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.6rem;
		color: #818181;
		font-weight: 500;
		line-height: 3rem;
		span {
			display: block;
			margin-left: 2.4rem;
		}
		i {
			margin-right: 10px;
		}
		a {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.6rem;
			color: #818181;
			font-weight: 500;
			line-height: 3rem;
		}
	}
}

/*google-map*/
section#google-map {
	margin-top: 7rem;
	width: 100%;
	height: 300px;
}

/*footer*/
footer#footer {
	background: #2E2E2E;
	padding: 7rem 0;
	.footer-wrapper {
		width: 39rem;
		margin: 0 auto;
		text-align: center;
		#confidential {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.2rem;
			color: #ababab;;
			font-weight: 500;
			a {
				color: #337ab7;
				&:hover {
					color: #23527c;
				}
			}
		}
	}
}

.footer-form {
	position: relative !important;
}
.footer-title {
	color: $white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 4rem;
	p:first-child {
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}
}

.input-field {
	#footer-email {
		background: transparent;
		border: 1px solid #7f7f7f;
	}
	button {
		background: #7E7E7E;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.3rem 2rem;
		border: none;
		border-radius: 0;
		color: #c1c1c1;
		font-size: 1.6rem;
		line-height: 2.4rem;
		overflow: hidden;
		i {
			position: relative;
			top: 0;
			-webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: all 0.3s ease 0.2s;
       -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
         -o-transition: all 0.3s ease 0.2s;
            transition: all 0.3s ease 0.2s;
		}
		&:hover {
			i {
				position: relative;
				top: -37px;
				-webkit-transform: translateX(30px);
       -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
         -o-transform: translateX(30px);
            transform: translateX(30px);
			}
		}
	}
}

.footer-icons {
	margin-top: 4rem;
	margin-bottom: 3.5rem;
	ul {
		li {
			display: inline-block;
			margin: 0 1rem;
			a {
				color: #7f7f7f;
				font-size: 1.6rem;
				&:hover {
					color: #009EE3;
				}
			}
		}
	}
}



@media only screen 
and (min-width: 992px) {
	header {
		.demo-2 {
			.sl-slider {
				h2 {
					font-size: 45px;
				}
			}
		}
	}
}


/* Adaptive. Responsive for desktop*/
@media only screen 
and (min-width: 768px) 
and (max-width: 991px) {
	/*header*/
	header {
		.demo-2 {
			.sl-slider {
				h2 {
					font-size: 40px;
					width: auto;
				}
			}
		}
		.nav-dots {
			bottom: 5%;
		}
	}
	/*Welcome to our site*/
	section#Welcome {
		.welcome {
			margin-top: 50px;
			p {
				overflow: visible;
			}
		}
	}
	/*Service*/
	section#Service {
		.service-item {
			margin-bottom: 50px;
		}
	}
	/*Featured projects*/
	section#Featured-projects {
		.project-wrapper {
			.portfolio-item {
				width: 48%;
			}
		}
	}
	/*Price*/
	section#price {
		.price-block {
			margin-bottom: 50px;
		}
	}
	/*contact*/
	section#contact {
		.contact-form {
			margin-bottom: 50px;
		}
	}
}


@media only screen and (max-width: 767px) {
	html {
		font-size: 9px;
	}
	/*header*/
	header {
		position: relative;
  	overflow-x: hidden;
  	.sl-slider {
			h2 {
				width: 100% !important;
				font-size: 18px;
				padding: 100px 0 30px !important;
			}
			p {
				width: 100% !important;
				font-size: 16px !important;
			}
			a {
				line-height: 1.4 !important;
			}
		}
	}
	.nav-dots {
		
	}
	/*Welcome to our site*/
	section#Welcome {
		.owl-content {
			h3 {
				font-size: 18px;
			}
		}
		.welcome {
			h3 {
				font-size: 18px;
				margin-top: 75px;
			}
			.welcome-content {
				p {
					overflow: visible;
					font-size: 1.6rem;
				}
				a {
					box-shadow: none;
					padding: 1.3rem 3.5rem;
				}
			}
		}
	}
	/*Service*/
	section#Service {
		h2 {
			font-size: 25px;
		}
		.service-title {
			h2 {
				font-size: 25px;
				&:after {
					left: 32%;
				}
			}
		}
	}
	/*Featured projects*/
	section#Featured-projects {
		.featured-projects-title {
			h2 {
				font-size: 25px;
			}
			h2:after {
				left: 32%;
			}
			p {
				line-height: 25px;
			}
		}
		.project-wrapper {
			.portfolio-item {
				width: 280px;
				margin: 0 auto 10px !important;
				a {
					font-size: 13px !important;
				}
			}
		}
	}
	/*What people say*/
	section#Review {
		 .overlay {
			 	h2 {
				font-size: 25px !important;
				&:after {
					left: 32%;
				}
			}
			.quote:before, .quote:after {
				display: none;
			}
			.clients {
				width: 95%;
				p {
					line-height: 30px !important;
				}
			}
		}
	}
	/*Price*/
	section#price {
		.price-title {
			h2 {
				font-size: 25px !important;
				&:after {
					left: 32%;
				}
			}
		}
		.price-block {
			margin-bottom: 50px;
		}
	}
	/*Follow Us*/
	section#social {
		h2 {
			font-size: 25px;
			&:after {
				left: 32%;
			}
		}
		p {
			line-height: 25px;
		}
		ul > li:nth-child(2) {
			margin: 0 25px;
		}
		ul > li > a {
			width: 65px;
			height: 65px;
			line-height: 71px;
		}
	}
	/*Contact*/
	section#contact {
		.contact-title-wrapper {
			h2 {
				font-size: 25px !important;
				&:after {
					left: 32%;
				}
			}
		}
		input {
			font-size: 16px;
		}
		.contact-info {
			margin-top: 50px;
		}
	}
	/*footer*/
	footer#footer {
		overflow: hidden !important;
		.footer-wrapper {
			width: 92%;
			button {
				line-height: 25px;
			}
		}
	}
}
@media only screen 
and (min-width: 480px) 
and (max-width: 767px) {
	/*header*/
	.sl-slider {
		h2 {
			font-size: 35px !important;
		}
	}
	/*Service*/
	section#Service {
		.service-title h2:after {
			left: 38%;
		}
		.service-item {
			margin: 0 auto 50px;
	    width: 57%;
		}
	}
	/*Featured projects*/
	section#Featured-projects {
		.featured-projects-title h2:after {
			left: 38%;
		}
		.project-wrapper {
			.portfolio-item {
				width: 48%;
				figcaption.mask {
					bottom: -147px;
					padding: 15px;
				}
			}
		}
	}
	/*What people say*/
	section#Review {
		 .overlay {
			 	h2 {
				&:after {
					left: 38%;
				}
			}
			.quote:before, .quote:after {
				display: none;
			}
			.clients {
				width: 80%;
			}
		}
	}
	/*Price*/
	section#price {
		.price-title {
			h2 {
				&:after {
					left: 38%;
				}
			}
		}
	}
	/*Follow Us*/
	section#social {
		h2 {
			&:after {
				left: 38%;
			}
		}
		ul > li:nth-child(2) {
			margin: 0 50px;
		}
		ul > li > a {
			width: 90px;
			height: 90px;
			line-height: 96px;
		}
	}
	/*contact*/
	section#contact {
		.contact-title-wrapper {
			h2 {
				&:after {
					left: 38%;
				}
			}
		}
	}
	/*footer*/
	footer#footer {
		.footer-wrapper {
			#confidential {
				font-size: 12px;
			}
			button {
				line-height: 27px;
			}
		}
	}
}
