html {
  font-size: 10px;
}

body {
  font-size: 14px;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  -webkit-transition: 0.3s all ease-out 0s;
  -o-transition: 0.3s all ease-out 0s;
  transition: 0.3s all ease-out 0s;
}

header {
  position: relative;
}

.caption-content {
  text-align: center;
}

/* Preloader*/
#preloader {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/*Battery*/
.loder-box {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1px;
  height: 100px;
  left: 50%;
  margin-left: -64px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 128px;
}

.battery {
  width: 60px;
  height: 25px;
  top: 35%;
  border: 1px #2E2E2E solid;
  border-radius: 2px;
  position: relative;
  -webkit-animation: charge 5s linear infinite;
  -moz-animation: charge 5s linear infinite;
  animation: charge 5s linear infinite;
  margin: 0 auto;
}

.battery:after {
  background-color: #2E2E2E;
  border-radius: 0 1px 1px 0;
  content: "";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 7px;
  width: 3px;
}

@-webkit-keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #2E2E2E;
  }
  100% {
    box-shadow: inset 60px 0px 0px #2E2E2E;
  }
}

@-moz-keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #2E2E2E;
  }
  100% {
    box-shadow: inset 60px 0px 0px #2E2E2E;
  }
}

@keyframes charge {
  0% {
    box-shadow: inset 0px 0px 0px #2E2E2E;
  }
  100% {
    box-shadow: inset 60px 0px 0px #2E2E2E;
  }
}

/* Header */
#navigation {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem 0;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}

#navigation h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

#navigation h1 a {
  color: #9d9d9d;
}

#navigation nav > ul > li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.navbar-toggle {
  background: transparent !important;
  border-color: #fff !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.slider-content-wrapper {
  display: table;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  min-height: 100%;
  position: absolute;
}

.slider-content-wrapper .caption-content {
  display: table-cell;
  vertical-align: middle;
}

/* Welcome */
section#Welcome {
  background: #009EE3;
  color: #fff;
  padding: 7rem 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /* Owl Carousel 1st arrows style */
}

section#Welcome h3 {
  margin: 0 0 3.5rem;
  text-transform: uppercase;
}

section#Welcome p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

section#Welcome .owl-nav {
  border: 2px solid #fff;
  display: inline-block;
  float: right;
  padding: 0.1rem 0.8rem 0.5rem;
}

section#Welcome .owl-nav i {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

section#Welcome .owl-prev, section#Welcome .owl-next {
  background: none !important;
  font-size: 1.6rem !important;
  padding: 0 5px !important;
  margin: 0 !important;
  line-height: 2.4rem;
}

section#Welcome .welcome h3 {
  margin: 0 0 6.5rem;
}

section#Welcome .welcome img {
  border-radius: 50%;
  max-width: 10rem;
  margin-right: 3.5rem;
  border: 3px solid #fff;
}

section#Welcome .welcome p {
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 7rem;
}

section#Welcome .welcome a {
  border: 2px solid #fff;
  display: inline-block;
  padding: 1.2rem 3.5rem;
}

/* Services */
section#Service {
  padding: 7rem 0;
}

section#Service .service-title {
  margin-bottom: 5rem;
  text-align: center;
}

section#Service .service-title h2 {
  font-size: 3.6rem;
  margin: 0 0 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #252525;
  position: relative;
}

section#Service .service-title h2:after {
  border-bottom: 1px solid #009ee3;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#Service .service-title p {
  font-size: 1.6rem;
  color: #818181;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

section#Service .service-item {
  text-align: center;
}

section#Service .service-item:hover .service-icon {
  border: 3px solid #009EE3;
}

section#Service .service-item:hover .service-icon i {
  color: #009EE3;
}

section#Service .service-item:hover h3 {
  margin-top: 4rem;
  transition: all 0.3s ease 0s;
}

section#Service .service-item .service-icon {
  border: 3px solid transparent;
  display: inline-block;
  font-size: 1.6rem;
  height: 85px;
  width: 85px;
  line-height: 101px;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}

section#Service .service-item .service-icon i {
  transform: rotate(-45deg);
  color: #818181;
}

section#Service .service-item h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section#Service .service-item p {
  font-size: 1.6rem;
  color: #818181;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 2.5rem;
}

/* Featured projects */
section#Featured-projects {
  padding-top: 7rem;
}

section#Featured-projects .featured-projects-title {
  text-align: center;
  margin-bottom: 5rem;
}

section#Featured-projects .featured-projects-title h2 {
  font-size: 3.6rem;
  margin: 0 0 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #252525;
  position: relative;
}

section#Featured-projects .featured-projects-title h2:after {
  border-bottom: 1px solid #009ee3;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#Featured-projects .featured-projects-title p {
  font-size: 1.6rem;
  color: #818181;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

section#Featured-projects .project-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

section#Featured-projects .project-wrapper figcaption.mask {
  background-color: rgba(54, 55, 50, 0.79);
  bottom: -126px;
  color: #fff;
  padding: 25px;
  position: absolute;
  width: 100%;
  text-align: left;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

section#Featured-projects .project-wrapper .portfolio-item {
  display: inline-block;
  width: 32%;
  cursor: pointer;
  margin: 0 1% 1% 0;
  position: relative;
  overflow: hidden;
}

section#Featured-projects .project-wrapper .portfolio-item .external {
  position: absolute;
  right: 0;
  top: -4.7rem;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

section#Featured-projects .project-wrapper .portfolio-item .external li {
  display: inline-block;
}

section#Featured-projects .project-wrapper .portfolio-item .external li a {
  background-color: rgba(255, 255, 255, 0.9);
  color: #818181;
  display: block;
  padding: 10px 18px 13px;
  font-size: 15px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

section#Featured-projects .project-wrapper .portfolio-item .external li a:hover {
  background-color: #009EE3;
  color: #fff;
}

section#Featured-projects .project-wrapper .portfolio-item:hover figcaption.mask {
  bottom: 0;
}

section#Featured-projects .project-wrapper .portfolio-item:hover .external {
  top: 0;
}

section#Featured-projects .project-wrapper figcaption.mask h3 {
  margin: 0;
  color: #fff;
}

/* fancybox inner content*/
.fancybox-title.fancybox-title-inside-wrap {
  padding: 15px;
}

.fancybox-title h3 {
  margin: 0 0 15px;
}

.fancybox-title p {
  color: #818181;
  font-size: 16px;
  line-height: 22px;
}

.fancybox-title-inside-wrap {
  padding-top: 0;
}

.fancybox-item.fancybox-close {
  background: url("../../images/icons/close.png") no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}

.fancybox-next span {
  background: url("../../images/icons/right.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  right: 0;
}

.fancybox-prev span {
  background: url("../../images/icons/left.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  left: 0;
}

/* What People Say */
section#Review {
  background: url(../../images/parallax/review.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-top: 7rem;
  /* Owl Carousel 2nd arrows style */
}

section#Review .overlay {
  background-color: rgba(15, 155, 224, 0.78);
  padding: 70px 0 40px;
}

section#Review .overlay h2 {
  font-size: 3.6rem;
  margin: 0 0 5rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  position: relative;
}

section#Review .overlay h2:after {
  border-bottom: 1px solid #fff;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#Review .overlay .clients {
  width: 64%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

section#Review .overlay .clients img {
  border-radius: 50%;
  max-width: 10rem;
  margin-right: 3.5rem;
  border: 3px solid #fff;
  margin: 0 auto;
}

section#Review .overlay .clients .quote {
  position: relative;
}

section#Review .overlay .clients .quote:before {
  content: '';
  background: url(../../images/icons/quotes.png);
  background-repeat: no-repeat;
  bottom: 127px;
  height: 33px;
  top: 35px;
  left: -35px;
  position: absolute;
  width: 45px;
}

section#Review .overlay .clients .quote:after {
  content: '';
  background: url(../../images/icons/quotes.png);
  background-position: -58px 0;
  background-repeat: no-repeat;
  bottom: -60px;
  height: 33px;
  position: absolute;
  right: 0;
  width: 45px;
}

section#Review .overlay .clients .quote span {
  display: inline-block;
  font-weight: 700;
  margin: 40px 0 30px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

section#Review .overlay .clients .quote p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

section#Review .owl-nav {
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.1rem 0.8rem 0.5rem;
}

section#Review .owl-nav i {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

section#Review .owl-prev, section#Review .owl-next {
  background: none !important;
  font-size: 1.6rem !important;
  padding: 0 5px !important;
  margin: 0 !important;
  line-height: 2.4rem;
}

/* Price */
section#price {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

section#price .price-title {
  margin-bottom: 5rem;
}

section#price .price-title h2 {
  font-size: 3.6rem;
  margin: 0 0 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #252525;
  position: relative;
}

section#price .price-title h2:after {
  border-bottom: 1px solid #009ee3;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#price .price-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #818181;
  font-weight: 500;
}

section#price .price-block {
  border: 1px solid #e3e3e3;
}

section#price .price-block span {
  display: block;
  font-size: 2.4rem;
  color: #252525;
  padding: 3rem 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

section#price .price-block .price-list {
  background: #F8F8F8;
  padding: 2rem 0;
}

section#price .price-block .price-list span {
  display: inline-block;
  padding: 0;
  color: #727272;
}

section#price .price-block .price-list span:first-child {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

section#price .price-block .price-list span:nth-child(2) {
  font-size: 6.5rem;
  margin-bottom: 2.5rem;
  line-height: 6.5rem;
}

section#price .price-block .price-list span:last-child {
  font-size: 1.6rem;
  text-transform: lowercase;
}

section#price .price-block ul {
  margin-bottom: 0;
}

section#price .price-block ul li {
  border-top: 1px solid #e3e3e3;
  padding: 2.5rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #818181;
  line-height: 2.4rem;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

section#price .price-block ul li:last-child {
  text-transform: uppercase;
}

section#price .price-block ul li:last-child a {
  color: #019EE3;
}

section#price .price-block ul li:last-child:hover {
  background: #019EE3;
}

section#price .price-block ul li:last-child:hover a {
  color: #fff;
}

.current {
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.19);
}

.current .price-list {
  background: #019EE3 !important;
}

.current .price-list span {
  color: #fff !important;
}

.current ul li:last-child {
  background: #019EE3;
}

.current ul li:last-child a {
  color: #fff !important;
}

/* Follow Us */
section#social {
  background: url(../../images/slider/banner.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

section#social h2 {
  font-size: 3.6rem;
  margin: 0 0 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  position: relative;
}

section#social h2:after {
  border-bottom: 1px solid #fff;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#social p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

section#social ul {
  margin-top: 5rem;
}

section#social ul li {
  display: inline-block;
}

section#social ul li:nth-child(2) {
  margin: 0 7.5rem;
}

section#social ul li a {
  color: #fff;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 90px;
  line-height: 96px;
  width: 90px;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

section#social ul li a:hover {
  color: #008ECC;
  border: 2px solid #008ECC;
}

section#social .overlay {
  background: url(../../images/slide_bg.png) repeat scroll 0 0 transparent;
  padding: 100px 0 120px;
}

/* Contact */
section#contact {
  margin-top: 7rem;
  overflow: hidden;
}

section#contact .contact-title-wrapper {
  text-align: center;
  margin-bottom: 5rem;
}

section#contact .contact-title-wrapper h2 {
  font-size: 3.6rem;
  margin: 0 0 3rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #252525;
  position: relative;
}

section#contact .contact-title-wrapper h2:after {
  border-bottom: 1px solid #009ee3;
  content: "";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}

section#contact .contact-title-wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #818181;
  font-weight: 500;
}

/*contact-form*/
.input-field {
  margin-bottom: 1rem;
}

.input-field #textarea-content {
  width: 100%;
  height: 16.5rem;
}

.form-control {
  border: 1px solid #ececec;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
  font-weight: 400;
  height: 50px;
  padding: 0.6rem 1.2rem;
  box-shadow: none;
  border-radius: 0;
}

/*send submit button*/
#submit {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

#submit:hover {
  color: #fff !important;
}

#submit:before {
  background-color: #0A85BB;
}

/*contact-info*/
.contact-info h3 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #008ecc;
  padding-bottom: 1.5rem;
}

.contact-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #818181;
  font-weight: 500;
  line-height: 3rem;
}

.contact-info p span {
  display: block;
  margin-left: 2.4rem;
}

.contact-info p i {
  margin-right: 10px;
}

.contact-info p a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #818181;
  font-weight: 500;
  line-height: 3rem;
}

/*google-map*/
section#google-map {
  margin-top: 7rem;
  width: 100%;
  height: 300px;
}

/*footer*/
footer#footer {
  background: #2E2E2E;
  padding: 7rem 0;
}

footer#footer .footer-wrapper {
  width: 39rem;
  margin: 0 auto;
  text-align: center;
}

footer#footer .footer-wrapper #confidential {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #ababab;
  font-weight: 500;
}

footer#footer .footer-wrapper #confidential a {
  color: #337ab7;
}

footer#footer .footer-wrapper #confidential a:hover {
  color: #23527c;
}

.footer-form {
  position: relative !important;
}

.footer-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.footer-title p:first-child {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.input-field #footer-email {
  background: transparent;
  border: 1px solid #7f7f7f;
}

.input-field button {
  background: #7E7E7E;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 0;
  color: #c1c1c1;
  font-size: 1.6rem;
  line-height: 2.4rem;
  overflow: hidden;
}

.input-field button i {
  position: relative;
  top: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease 0.2s;
  -moz-transition: all 0.3s ease 0.2s;
  -ms-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.input-field button:hover i {
  position: relative;
  top: -37px;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
  transform: translateX(30px);
}

.footer-icons {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}

.footer-icons ul li {
  display: inline-block;
  margin: 0 1rem;
}

.footer-icons ul li a {
  color: #7f7f7f;
  font-size: 1.6rem;
}

.footer-icons ul li a:hover {
  color: #009EE3;
}

@media only screen and (min-width: 992px) {
  header .demo-2 .sl-slider h2 {
    font-size: 52px;
    width: 92%;
  }
}

/* Adaptive. Responsive for desktop*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*header*/
  header .demo-2 .sl-slider h2 {
    font-size: 40px;
    width: auto;
  }
  header .nav-dots {
    bottom: 5%;
  }
  /*Welcome to our site*/
  section#Welcome .welcome {
    margin-top: 50px;
  }
  section#Welcome .welcome p {
    overflow: visible;
  }
  /*Service*/
  section#Service .service-item {
    margin-bottom: 50px;
  }
  /*Featured projects*/
  section#Featured-projects .project-wrapper .portfolio-item {
    width: 48%;
  }
  /*Price*/
  section#price .price-block {
    margin-bottom: 50px;
  }
  /*contact*/
  section#contact .contact-form {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 9px;
  }
  /*header*/
  header {
    position: relative;
    overflow-x: hidden;
  }
  header .sl-slider {
    padding: 23% 0;
  }
  header .sl-slider h2 {
    width: 100% !important;
    font-size: 18px;
  }
  header .sl-slider p {
    width: 100% !important;
    font-size: 16px !important;
  }
  header .sl-slider a {
    line-height: 1.4 !important;
  }
  /*Welcome to our site*/
  section#Welcome .owl-content h3 {
    font-size: 18px;
  }
  section#Welcome .welcome h3 {
    font-size: 18px;
    margin-top: 75px;
  }
  section#Welcome .welcome .welcome-content p {
    overflow: visible;
    font-size: 1.6rem;
  }
  section#Welcome .welcome .welcome-content a {
    box-shadow: none;
    padding: 1.3rem 3.5rem;
  }
  /*Service*/
  section#Service h2 {
    font-size: 25px;
  }
  section#Service .service-title h2 {
    font-size: 25px;
  }
  section#Service .service-title h2:after {
    left: 32%;
  }
  /*Featured projects*/
  section#Featured-projects .featured-projects-title h2 {
    font-size: 25px;
  }
  section#Featured-projects .featured-projects-title h2:after {
    left: 32%;
  }
  section#Featured-projects .featured-projects-title p {
    line-height: 25px;
  }
  section#Featured-projects .project-wrapper .portfolio-item {
    width: 280px;
    margin: 0 auto 10px !important;
  }
  section#Featured-projects .project-wrapper .portfolio-item a {
    font-size: 13px !important;
  }
  /*What people say*/
  section#Review .overlay h2 {
    font-size: 25px !important;
  }
  section#Review .overlay h2:after {
    left: 32%;
  }
  section#Review .overlay .quote:before, section#Review .overlay .quote:after {
    display: none;
  }
  section#Review .overlay .clients {
    width: 95%;
  }
  section#Review .overlay .clients p {
    line-height: 30px !important;
  }
  /*Price*/
  section#price .price-title h2 {
    font-size: 25px !important;
  }
  section#price .price-title h2:after {
    left: 32%;
  }
  section#price .price-block {
    margin-bottom: 50px;
  }
  /*Follow Us*/
  section#social h2 {
    font-size: 25px;
  }
  section#social h2:after {
    left: 32%;
  }
  section#social p {
    line-height: 25px;
  }
  section#social ul > li:nth-child(2) {
    margin: 0 25px;
  }
  section#social ul > li > a {
    width: 65px;
    height: 65px;
    line-height: 71px;
  }
  /*Contact*/
  section#contact .contact-title-wrapper h2 {
    font-size: 25px !important;
  }
  section#contact .contact-title-wrapper h2:after {
    left: 32%;
  }
  section#contact input {
    font-size: 16px;
  }
  section#contact .contact-info {
    margin-top: 50px;
  }
  /*footer*/
  footer#footer {
    overflow: hidden !important;
  }
  footer#footer .footer-wrapper {
    width: 92%;
  }
  footer#footer .footer-wrapper button {
    line-height: 25px;
  }
  /*fancybox*/
  .fancybox-title h3 {
    font-size: 18px;
  }
  .fancybox-title p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*header*/
  header .sl-slider {
    padding: 40% 0;
  }
  header .sl-slider h2 {
    font-size: 35px !important;
  }
  /*Service*/
  section#Service .service-title h2:after {
    left: 38%;
  }
  section#Service .service-item {
    margin: 0 auto 50px;
    width: 57%;
  }
  /*Featured projects*/
  section#Featured-projects .featured-projects-title h2:after {
    left: 38%;
  }
  section#Featured-projects .project-wrapper .portfolio-item {
    width: 48%;
  }
  section#Featured-projects .project-wrapper .portfolio-item figcaption.mask {
    bottom: -147px;
    padding: 15px;
  }
  /*What people say*/
  section#Review .overlay h2:after {
    left: 38%;
  }
  section#Review .overlay .quote:before, section#Review .overlay .quote:after {
    display: none;
  }
  section#Review .overlay .clients {
    width: 80%;
  }
  /*Price*/
  section#price .price-title h2:after {
    left: 38%;
  }
  /*Follow Us*/
  section#social h2:after {
    left: 38%;
  }
  section#social ul > li:nth-child(2) {
    margin: 0 50px;
  }
  section#social ul > li > a {
    width: 90px;
    height: 90px;
    line-height: 96px;
  }
  /*contact*/
  section#contact .contact-title-wrapper h2:after {
    left: 38%;
  }
  /*footer*/
  footer#footer .footer-wrapper #confidential {
    font-size: 12px;
  }
  footer#footer .footer-wrapper button {
    line-height: 27px;
  }
}
